.side-navigation {
  width: 20em;
  font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
  
  margin-bottom: 0em;
  padding: 0 0 .5em 0;
  border-right: 2px solid #E60000;
  color: #333;
  background-color: #FF8C00;
}

.side-navigation ul {
  list-style: none;
  margin: .2em;
  padding-left: 1em;
}

.side-navigation li {
  padding-top: 1px;
  margin: 0;
  list-style: none;
  list-style-image: none;
  border-bottom: 1px solid transparent;
}

.side-navigation a {
  color: #fff;
  padding: 5px 5px 5px 0.5em;
  border-left: 10px solid #ffc77a;
  border-right: 10px solid #FFA347;
  background-color: #ffa324;
  position: relative;
  display: block;
  text-decoration: none;
  
  transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
}

.side-navigation a:hover {
  color: #FFF;
  border-left: 30px solid #ffc77a;
  border-right: 10px solid #ffc77a;
  background-color: #FFAD47;
}

.side-navigation > a {
  font-weight: bold;
}

.side-navigation > ul {
  display: none;
  opacity: 0;
  transition: opacity .5s ease;
  -webkit-transition: opacity .5s ease;
}

.side-navigation.active > ul {
  display: block;
  opacity: 1;
}
